<!--Oh hello, you're reading the source on my language's website. Either you liked the design of the site,
or you are just curious and have nothing to do. Well, good day, and I hope you enjoy the source code. By the way, consider downloading
the language and playing around with it. Also, if all you want is the source code for the site, it is available here: https://github.com/raghavnautiyal/DipSite-->

<!doctype html>
<html lang="en-US">
  <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-154661488-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-154661488-1');
</script>
    <meta charset="utf-8">
    <title>

            Dip Programming Language

        </title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="A language empowering beginners to harness the power of programming.">



    <!-- styles -->
    <link rel="stylesheet" href="/static/solarized-dark.css"/>
    <link rel="stylesheet" href="/static/vendor_10880690442070639967.css"/>
    <link rel="stylesheet" href="/static/fonts_8049871103083011125.css"/>
    <link rel="stylesheet" href="/static/app_12353512879680388157.css"/>

    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="static/dip logo.png">



    <script src="/static/scripts/highlight.pack.js" defer></script>
    <script src="/static/scripts/init.js" defer></script>
  </head>
  <body>
    <nav class="flex flex-row justify-center justify-end-l items-center flex-wrap ph2 pl3-ns pr4-ns pb3">
  <div class="brand flex-auto w-100 w-auto-l self-start tc tl-l">
    <a href="/" class="brand">
      <img class="v-mid ml0-l" alt="Dip Logo" src="/static/dip logo.png">

    </a>
  </div>

  <ul class="nav list w-100 w-auto-l flex flex-none flex-row flex-wrap justify-center justify-end-l items-center pv2 ph0 ph4-ns">
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/try">Try Dip</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/about">About</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/docs">Documentation</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/tutorial">Learning Path</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/examples">Examples</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/forum">Forum</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/install">Install</a></li>
  </ul>



</nav>

    <main>
<header class="mt3 mt0-ns mb6-ns w-100 mw-none ph3 mw8-m mw9-l center">
  <div class="flex flex-column flex-row-l">
    <div class="w-80-l pl6-l pl3 mw8-l">
     <h1>Oops!</h1>
      <h2 class="mt4 f2 f1-ns">
        Looks like there's an error in the application. You better fix this Raghav!
      </h2>
    </div>
    <div class="w-20-l flex-column pl0-l pr0-l pl3 pr3">
        </br>
        </br>
        </br>
      <p class="tc f3 f2-l mt3">

        <a href="/" class="download-link">Go somewhere nice!</a>
      </p>
    </div>

  </div>
</header>