<!DOCTYPE html>

<html lang="en">

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="styles.css" rel="stylesheet">
        <title>Dreamscript</title>
    </head>
    <nav class="navbar navbar-light" style="background-color: #87CEEB;">
      <a class="navbar-brand" href="index.html">Dreamscript.net</a>
      <a class="button" href="index.html">About</a>
      <a class="button" href="index.html">Documentation</a>
      <a class="button" href="community.html">Community</a>
      <a class="button" href="index.html">Install</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <body class = "center">
        <p class = "center">Dip Forum</p>
        <h4 class = "center" >
            Ask whatever comes to mind
        </h4>
    </body>

    {% for i in  %}

    <hr style="height:10px; visibility:hidden;" />

    OR

    </br>



    <h4 class = "center" >Join the Dip Community on Reddit and Github</h4>




     <a href = "https://reddit.com"><image src = "download.png"></image></a>
    <a href = "https://github.com"><image src = "jfrif.png"></image></a>





</html>
