<head>    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-154661488-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-154661488-1');
</script></head>
<link rel="stylesheet" href="/static/solarized-dark.css"/>
    <link rel="stylesheet" href="/static/vendor_10880690442070639967.css"/>
    <link rel="stylesheet" href="/static/fonts_8049871103083011125.css"/>
    <link rel="stylesheet" href="/static/app_12353512879680388157.css"/>

<link rel="icon" type="image/png" sizes="32x32" href="static/dip logo.png">


<nav class="flex flex-row justify-center justify-end-l items-center flex-wrap ph2 pl3-ns pr4-ns pb3">
  <div class="brand flex-auto w-100 w-auto-l self-start tc tl-l">
    <a href="/" class="brand">
      <img class="v-mid ml0-l" alt="Dip Logo" src="/static/dip logo.png">

    </a>
  </div>

  <ul class="nav list w-100 w-auto-l flex flex-none flex-row flex-wrap justify-center justify-end-l items-center pv2 ph0 ph4-ns">
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/try">Try Dip</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/about">About</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/docs">Documentation</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/forum">Forum</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/install">Install</a></li>
  </ul>



</nav>

<title>Dip Programming Language: Examples</title>

<div class = "green">
    <div style = "padding-left: 15px;">

 <h1 id="dip">Examples of Dip Code</h1>
<p>The following pages demonstrate a few Dip programs for users to get a better idea of Dip's syntax and its use cases. Dip is unfinished - and is aimed at beginners, so it lacks a few features you would normally find useful, so please let me know if you have any suggestions</p>
</div>
</div>

<div style = "padding-left:50px">
<h1 id="factorial-function">Factorial function</h1>
<pre><code><span class="hljs-keyword">function</span> factorial(term)</br><span class="hljs-keyword">variable</span> fact = <span class="hljs-number">1</span>
<span class="hljs-keyword">if</span> term &gt;= <span class="hljs-number">1</span> <span class="hljs-keyword">then</span>
    <span class="hljs-keyword">for</span> i = <span class="hljs-number">1</span> <span class="hljs-keyword">to</span> term + <span class="hljs-number">1</span> <span class="hljs-keyword">then</span>
        <span class="hljs-keyword">variable</span> fact = fact * i
    <span class="hljs-keyword">end</span>
<span class="hljs-keyword">end</span>
print(fact)
</br>end
</code></pre><p>
</code></p>

<h1 id="fibonnaci-function">Fibonnaci Function</h1>

<pre><code><span class="hljs-keyword">function</span> fib(nterms)</br><span class="hljs-keyword">variable</span> n1 <span class="hljs-comment">= 0</span>
<span class="hljs-keyword">variable</span> <span class="hljs-comment">n2 = 1</span>
<span class="hljs-keyword">variable</span> <span class="hljs-comment">count = 0</span>

if <span class="hljs-comment">nterms &lt;= 0 then print(</span><span class="hljs-comment">"Input a positive integer"</span><span class="hljs-comment">)</span>
if <span class="hljs-comment">nterms == 1 then</span>
    print(<span class="hljs-string">"Fibonnaci sequence upto"</span> + <span class="hljs-string">" 1"</span> + <span class="hljs-string">":"</span>)
    print(n1)
else
    print(<span class="hljs-string">"Fibonacci sequence:"</span>)
    while <span class="hljs-comment">count &lt; nterms then</span>
        print(n1)
        <span class="hljs-keyword">variable</span> <span class="hljs-comment">nth = n1 + n2</span>
        <span class="hljs-keyword">variable</span> <span class="hljs-comment">n1 = n2</span>
        <span class="hljs-keyword">variable</span> <span class="hljs-comment">n2 = nth</span>
        <span class="hljs-keyword">variable</span> <span class="hljs-comment">count = count + 1</span>
    end
end
end
</code></pre><p>
</code></p>
<p></p>
<h1 id="factorial-function">Hello World in Dip</h1>
<pre><code><span class="hljs-keyword">print</span>(<span class="hljs-string">"Hello, world!"</span>)
</code></pre><p>
</code></p>
<h1 id="factorial-function">Random</h1>
<pre><code>
  <span style = "color:red"># A function to select a random value from a list</span>
  <span class="hljs-keyword">function</span> random(list_)
  <span class="hljs-keyword">   variable</span> random_number = <span class="hljs-keyword">random_int</span>(0, length(list_) - 1)
     <span class="hljs-keyword">return</span> (list_ / random_number)
  end
</code>
</pre>

<h1 id="factorial-function">Math Functions</h1>
<pre>
  <code>
  <span style = "color:red"># Squares a value</span>
  <span class="hljs-keyword">function</span> square(num) <span class="hljs-keyword">-></span> num ^ 2

  <span style = "color:red"># Checks if a number is even or odd</span>
  <span class="hljs-keyword">function</span> odd_or_even(number)
  if number % 2 == 0 then print("even") else print("odd")
  end
</code>
</pre>

</div>

</div>
</div>


<footer class = "green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <div class="flex flex-column flex-row-ns pv0-l">
      <div class="flex flex-column mw8 w-100 measure-wide-l pv2 pv5-m pv2-ns ph4-m ph4-l" id="get-help">
        <h4>Get help!</h4>
        <ul>
          <li><a href="/docs">Documentation</a></li>
          <li><a href="/forum">Ask a Question on the forum</a></li>
        </ul>

      </div>

    </div>
  </div>
</footer>