<head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-154661488-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-154661488-1');
</script>

    <link rel="stylesheet" href="/static/login.css"/>


        <title>Dip Programming Language: Login</title>
    </head>

        <link rel="icon" type="image/png" sizes="32x32" href="static/dip logo.png">

    <div class="login-page">
        <center><h1 style = "color: white;">Hello, Fellow Dipper!</h1></center>
          <div class="form">
            <form class="login-form" action="/login" method="post">
              <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required>
              <input class="form-control" name="password" placeholder="Password" type="password" required>
              <button type="submit">login</button>
              <p class="message">Not registered? <a href="/signup">Create an account</a></p>
            </form>
          </div>
    </div>



