<!--Oh hello, you're reading the source on my language's website. Either you liked the design of the site,
or you are just curious and have nothing to do. Well, good day, and I hope you enjoy the source code. By the way, consider downloading
the language and playing around with it. Also, if all you want is the source code for the site, it is available here: https://github.com/raghavnautiyal/DipSite-->


<head>    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-154661488-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-154661488-1');
</script></head>
<link rel="stylesheet" href="/static/solarized-dark.css"/>
    <link rel="stylesheet" href="/static/vendor_10880690442070639967.css"/>
    <link rel="stylesheet" href="/static/fonts_8049871103083011125.css"/>
    <link rel="stylesheet" href="/static/app_12353512879680388157.css"/>

<!-- favicon -->
<link rel="icon" type="image/png" sizes="32x32" href="static/dip logo.png">
 <link rel="icon" type="image/png" sizes="32x32" href="static/dip logo.png">
</head>
<link rel="icon" type="image/png" sizes="32x32" href="static/dip logo.png">
<nav class="flex flex-row justify-center justify-end-l items-center flex-wrap ph2 pl3-ns pr4-ns pb3">
  <div class="brand flex-auto w-100 w-auto-l self-start tc tl-l">
    <a href="/" class="brand">
      <img class="v-mid ml0-l" alt="Dip Logo" src="/static/dip logo.png">

    </a>
  </div>

  <ul class="nav list w-100 w-auto-l flex flex-none flex-row flex-wrap justify-center justify-end-l items-center pv2 ph0 ph4-ns">
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/try">Try Dip</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/about">About</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/docs">Documentation</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/forum">Forum</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/install">Install</a></li>
  </ul>
</nav>

<title>Dip Programming Language: {{ title }}</title>
<link rel="shortcut icon" href="favicon.ico" type="static/dip logo.png" />

<nav class="flex flex-row justify-center justify-end-l items-center flex-wrap ph2 pl3-ns pr4-ns pb3 center">
  <ul class="nav list w-100 w-auto-l flex flex-none flex-row flex-wrap justify-center justify-end-l items-center pv2 ph0 ph4-ns">
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/forum">Dip Forum</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/newest">New</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/comments">Comments</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/submit">Submit</a></li>
  </ul>
</nav>

<section class="white thanks">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center">
    <header>
      <center><h2 class = "center">{{ title }}</h2></center>
      <div class="highlight"class = "center" style = "font-size: 40px;"></div>
    </header>
    <div class="description center">
      <p class="lh-copy f2">
       {{ description }}
      </p>
    </div>
    <div class="description">

      <h4 class="lh-copy f2">
        {{ author }} | {{ commentsnum }} comments
      </h4>
    </div>
    <header>
      <h2 class = "center">Add a comment</h2>
      <div class="highlight"class = "center" style = "font-size: 40px;"></div>
    </header>
    <div style = "font-size: 15px; padding-bottom: 10px; padding-left: 10px;">
      <form action="/posts/{{ iden }}" method="POST">
      <textarea name="description" id="DESCRIPTION" cols="35" rows="5" style = "font-size: 15px; padding: 10px;" required></textarea>
    </div>

    <div style = "font-size: 15px; padding-left:10px; padding-bottom: 10px;" size = "50"><input type="submit" style = "width:325px" class = "button button-secondary" name="addcomment" id="addcomment" value="add comment" size="10"></div>
    </form>
  </div>
</section>

<section class="white thanks">
<div class="w-100 mw-none ph3 mw8-m mw9-l center">
<header style = "padding-left:25px">
      <h2 class = "center">Comments</h2>
      <div class="highlight"class = "center" style = "font-size: 40px;"></div>
</div>
</section>

{% for post in comments %}
<div class="w-100 mw-none ph3 mw8-m mw9-l center">
    </br>
    <header>
      <h3 class = "center">{{ post[0] }}</h3>
      <h4 class = "center">{{ post[1] }}  | {{ post[2] }}</h4>
    </header>
</div>
{% endfor %}

<footer class = "green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <div class="flex flex-column flex-row-ns pv0-l">
      <div class="flex flex-column mw8 w-100 measure-wide-l pv2 pv5-m pv2-ns ph4-m ph4-l" id="get-help">
        <h4>Get help!</h4>
        <ul>
          <li><a href="/docs">Documentation</a></li>
          <li><a href="/forum">Ask a Question on the forum</a></li>
          <li><a href="mailto:raghavnautiyal26@gmail.com">Ask me your question</a></li>
        </ul>

      </div>

    </div>
  </div>
</footer>

