<head>


    <link rel="stylesheet" href="/static/login.css"/>


        <title>Dip Programming Language: Login</title>
    </head>

        <link rel="icon" type="image/png" sizes="32x32" href="static/dip logo.png">

    <div class="login-page">
        <center><h1 style = "color: white;">Join Dip!</h1></center>
          <div class="form">
            <form class="login-form" action="/signup" method="post">
              <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required>
              <input class="form-control" name="password" placeholder="Password" type="password" required>
            <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password" required>
              <button type="submit">Sign Up</button>
              <p class="message">Already A Dipper? <a href="/login">Log In!</a></p>
            </form>
          </div>
    </div>



