
<!--Oh hello, you're reading the source on my language's website. Either you liked the design of the site,
or you are just curious and have nothing to do. Well, good day, and I hope you enjoy the source code. By the way, consider downloading
the language and playing around with it. Also, if you want the source code for the site, it is available here: https://github.com/raghavnautiyal/DipSite-->

<!doctype html>
<html lang="en-US">
  <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-154661488-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-154661488-1');
</script>
    <meta charset="utf-8">
    <title>

            Getting Started - Dip Programming Language

        </title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="A language empowering beginners to harness the power of programming.">




    <!-- styles -->
    <link rel="stylesheet" href="/static/solarized-dark.css"/>
    <link rel="stylesheet" href="/static/vendor_10880690442070639967.css"/>
    <link rel="stylesheet" href="/static/fonts_8049871103083011125.css"/>
    <link rel="stylesheet" href="/static/app_12353512879680388157.css"/>

    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="static/dip logo.png">

    <script src="/static/scripts/highlight.pack.js" defer></script>
    <script src="/static/scripts/init.js" defer></script>
  </head>
  <body>
    <nav class="flex flex-row justify-center justify-end-l items-center flex-wrap ph2 pl3-ns pr4-ns pb3">
  <div class="brand flex-auto w-100 w-auto-l self-start tc tl-l">
    <a href="/" class="brand">
      <img class="v-mid ml0-l" alt="Dio Logo" src="/static/dip logo.png">


    </a>
  </div>

  <ul class="nav list w-100 w-auto-l flex flex-none flex-row flex-wrap justify-center justify-end-l items-center pv2 ph0 ph4-ns">
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/try">Try Dip</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/about">About</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/docs">Documentation</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/tutorial">Learning Path</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/examples">Examples</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/forum">Forum</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/install">Install</a></li>
  </ul>

  </div>

</nav>

    <main>

<header class="mt3 mt2-ns mb4 mb5-ns tc tl-ns">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3 ">
    <h1>Getting started</h1>
    <h2 class="subtitle">Quickly set up a Dip development environment and write your first app!</h2>
  </div>
</header>

<section class="green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>Installing Dip</h2>
      <div class="highlight highlight"></div>
    </header>
    <p>You can try Dip online in your browser without installing it on your computer.</p>
    <a href="/try" class="button button-secondary">Try Dip without installing</a>
    <hr />

    <h3>Install Dip</h3>
    <p>The primary way that folks install Dip is through downloading a zip file containing the Dip interpreter, Dip Editor and Dip's standard library.</p>
    <div class="row">
  <div id="platform-instructions-unix" class="instructions db">
    <p>If you’re running macOS, Linux, or another Unix-like OS, download the Mac version of Dip. If you are on Windows, download Dip's Windows version</p>
  </div>

 </div>
<section class="flex flex-column flex-row-l pv0-l">
      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l pb4 pb5-m pb6-ns ph4-l">
        <div class="v-top pl4 pl0-l pt3-l measure-wide-l flex-l flex-column-l flex-auto-l">
          <p class="flex-grow">If you're a Mac or Unix fan - here's Dip's Version R for Mac! It also includes Dip's standard library</p>
          <a href="static/Dip Version R (Mac).zip" download rel="noopener noreferrer" target="_blank" class="button button-secondary">Download Dip for Mac</a>
        </div>
      </div>
      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l pb4 pb5-m pb6-ns ph4-l">
        <div class="v-top pl4 pl0-l pt3-l measure-wide-l flex-l flex-column-l flex-auto-l">
          <p class="flex-grow">If you're a windows fan - here's Dip's Version R for Windows! It also includes Dip's standard library</p>
          <a href="static/Dip Version R (WIndows).zip" download rel="noopener noreferrer" target="_blank" class="button button-secondary">Download Dip for Windows</a>
        </div>
      </div>
    </section>
<script type="text/javascript" src="/static/scripts/app_2766821048104007642.js"></script>

    <br />
    <h3>How Do I Get Started?</h3>
    <p>Move the Dip Version R (Mac) zip file to your desktop - and extract the contents of the zip file. Then navigate to the Dip Version R folder, and start creating Dip programs!</p>
    <p>On Windows, all you need to do is unzip the file and navigate to the Dip Version R folder. Run the executables to start coding with dip</p>
    <h3>How Do I Use Dip?</h3>
    <p>There are two ways to use Dip at the moment. One of them is to use Dip's Editor, which is beginner friendly and is a built-in code editor for you to start using Dip. However, it is still experimental and might have some bugs.</p>
    <p>The second way you can use dip is through the executable file called 'Dip'. The Dip interface pops up in the terminal of your choice when you click it - and you can start using Dip! This has more, robust features when compared to the Dip editor, but might not be very easy to use for beginners.</p>
    <p>Whichever way you choose to use Dip, you can always look at the documentation to help you, which you can find on the website, and also in the Dip folder you download.</p>

    <br />
    <a href="/install" class="button button-secondary">Learn more about installation</a>
    <hr />

    <h3>Dip's Development Environment</h3>
    <p>When you install Dip you’ll also get the latest version of the Dip Editor, also known as Dip's Development Environment. Please note that the Editor is experimental, and might hav some bugs in its control flow. However, it still does a lot of things:</p>
<ul>
  <li>Create and edit Dip programs with Dip's Editor.</li>
  <li>Use the shell to run commands using a user-friendly interface</li>
  <li>Test your project and run it through Dip's Editor (Nothing else required)</li>
  <li>Build documentation for your project through Dip's editor</li>
</ul>
<p>In essence - Dip's Development Environment is a one stop shop providing everything you need to write meaningful software using Dip</p>

    <hr/>

      <section class="flex flex-column flex-row-l pv0-l">
      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l pb4 pb5-m pb6-ns ph4-l">
        <div class="v-top pl4 pl0-l pt3-l measure-wide-l flex-l flex-column-l flex-auto-l">
          <p class="flex-grow">If you're a Mac or Unix fan - here's Dip's editor for Mac! It also includes examples</p>
          <a href="static/Dip Editor.zip" download rel="noopener noreferrer" target="_blank" class="button button-secondary">Download for Mac</a>
        </div>
      </div>
      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l pb4 pb5-m pb6-ns ph4-l">
        <div class="v-top pl4 pl0-l pt3-l measure-wide-l flex-l flex-column-l flex-auto-l">
          <p class="flex-grow">If you're a windows fan - here's Dip's editor for Windows! It also includes examples!</p>
          <a href="static/Dip Editor.exe.zip" download rel="noopener noreferrer" target="_blank" class="button button-secondary">Download for Windows</a>
        </div>
      </div>
    </section>

  </div>
</div>

  </div>
</section>


<section id="installing-dependencies" class="white">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>Adding dependencies</h2>
      <div class="highlight"></div>
    </header>
    <p>Let’s add a dependency to our application. Navigate to the Dip Version R folder, and create a "hello.dip" file. It is better to create all of your dip programs here, as you can easily access Dip's standard library from this directory.</p>
<p>In this project, we’ll use a package called <code>bleu_says</code> Note that the bleu_says package comes prepackaged with dip in its standard library.</p>
<p>In our <code>hello.dip</code> file we’ll add this information (that we will use for installing any packages):</p>

      <pre><code>use("stdlib/bleu_says")</code></pre>

<p>This line means that we can now use the <code>bleu</code> function that the <code>blue_says</code> package creates for us.</p>
<p>Now we can use the <code>blue_says</code> package to create our first dip application</p>

  </div>
</section>


<section class="green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>A small Dip application</h2>
      <div class="highlight"></div>
    </header>
    <p>Now let’s write a small application with our new dependency. In our <code>main.dip</code>, add the following code:</p>

<pre><code>use("stdlib/bleu_says.dip") # from the previous step

function main()
    variable message = "Hello, world!"
    bleu(message)
end

main()
    </code></pre>

<p>Once we save that, we can run our application by typing:</p>
<p><code>run("main.dip")</code></p>
<p>Assuming everything went well, you should see your application print this to the screen:</p>

    <pre><code>-----------------
| Hello, world! |
-----------------
                    \
                     \
                      \
                           ▓▓▓▓▓▓▓▓▓▓
                         ▓▓▓▓▓▓▓▓▓▓▓▓▓▓
                        ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
                      ▓▓▓▓░░░░░░▓▓░░░░░░▓▓▓▓
                  ░░░░▓▓░░░░░░░░░░░░░░░░░░▓▓░░░░
                  ░░░░▓▓░░  ██░░░░░░  ██░░▓▓░░░░
                    ░░▓▓░░████░░░░░░████░░▓▓░░
                      ▓▓░░▒▒▒▒░░░░░░▒▒▒▒░░▓▓
                        ▓▓░░░░░░░░░░░░░░▓▓
                          ▓▓▓▓░░░░░░▓▓▓▓
                              ▓▓▓▓▓▓        ░░
                            ▓▓▓▓▓▓▓▓▓▓      ▓▓
                            ▓▓▓▓▓▓▓▓▓▓    ▓▓▓▓
                          ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
                          ▓▓▓▓░░▓▓░░▓▓▓▓

    </code></pre>


  </div>
</section>

<section id="read-the-docs" class="white thanks">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>Learn more!</h2>
      <div class="highlight"></div>
    </header>
    <p>If you're looking to learn more, head to our Docs page, where you can find lots of information that will help you to continue learning to code with Dip.</p>
    <a href="/docs" class="button button-secondary">learn more!</a>
  </div>
</section>



    </main>
    <footer class = "green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <div class="flex flex-column flex-row-ns pv0-l">
      <div class="flex flex-column mw8 w-100 measure-wide-l pv2 pv5-m pv2-ns ph4-m ph4-l" id="get-help">
        <h4>Get help!</h4>
        <ul>
          <li><a href="/docs">Documentation</a></li>
          <li><a href="/forum">Ask a Question on the forum</a></li>
          <li><a href="mailto:raghavnautiyal26@gmail.com">Ask me your question</a></li>
        </ul>

      </div>

    </div>
  </div>
</footer>


    <script src="/static/scripts/languages.js"></script>
  </body>
</html>
