

<html>

<head>
  <meta charset="utf-8">
  <title>Submit a new post</title>
  <link type="text/css" rel="stylesheet" href="static/application.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <script src="/js/jquery/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="/static/solarized-dark.css"/>
    <link rel="stylesheet" href="/static/vendor_10880690442070639967.css"/>
    <link rel="stylesheet" href="/static/fonts_8049871103083011125.css"/>
    <link rel="stylesheet" href="/static/app_12353512879680388157.css"/>
      <link rel="icon" type="image/png" sizes="32x32" href="static/dip logo.png">

</head>
    <link rel="icon" type="image/png" sizes="32x32" href="static/dip logo.png">

<body>

<nav class="flex flex-row justify-center justify-end-l items-center flex-wrap ph2 pl3-ns pr4-ns pb3">
  <div class="brand flex-auto w-100 w-auto-l self-start tc tl-l">
    <a href="/" class="brand">
      <img class="v-mid ml0-l" alt="Dip Logo" src="/static/dip logo.png">

    </a>
  </div>

  <ul class="nav list w-100 w-auto-l flex flex-none flex-row flex-wrap justify-center justify-end-l items-center pv2 ph0 ph4-ns">
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/try">Try Dip</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/about">About</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/docs">Documentation</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/forum">Forum</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/install">Install</a></li>
  </ul>



</nav>
  </header>
  <main>
    <center><h3>Submit A New Post</h3></center>
<div id="interpreter">
    <form action = "/submit" method="POST" required>
         <div class="form-group"  required>
            <input autocomplete="off" autofocus class="form-control" name="title" placeholder="Post title" type="text" required>
        </div>
        </br>
        <textarea style="white-space: pre-line" id="program-source" name = "text"  placeholder="Post content" required></textarea>
        </br></br>
        <input type="submit"></input>
    </form>

    <footer class = "green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <div class="flex flex-column flex-row-ns pv0-l">
      <div class="flex flex-column mw8 w-100 measure-wide-l pv2 pv5-m pv2-ns ph4-m ph4-l" id="get-help">
        <h4>Get help!</h4>
        <ul>
          <li><a href="/docs">Documentation</a></li>
          <li><a href="/forum">Ask a Question on the forum</a></li>
        </ul>

      </div>

    </div>
  </div>
</footer>
  </main>

</body>


</html>
