
<!doctype html>
<html lang="en-US">
  <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-154661488-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-154661488-1');
</script>
    <meta charset="utf-8">
    <title>

            Tutorial - Dip Programming Language

        </title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="A language empowering everyone to build reliable and efficient software.">



    <!-- styles -->
    <link rel="stylesheet" href="/static/solarized-dark.css"/>
    <link rel="stylesheet" href="/static/vendor_10880690442070639967.css"/>
    <link rel="stylesheet" href="/static/fonts_8049871103083011125.css"/>
    <link rel="stylesheet" href="/static/app_12353512879680388157.css"/>

    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="static/dip logo.png">




    <!-- Custom Highlight pack with: Rust, Markdown, TOML, Bash, JSON, YAML,
         and plaintext. -->
    <script src="/static/scripts/highlight.pack.js" defer></script>
    <script src="/static/scripts/init.js" defer></script>
  </head>
  <body>
    <nav class="flex flex-row justify-center justify-end-l items-center flex-wrap ph2 pl3-ns pr4-ns pb3">
  <div class="brand flex-auto w-100 w-auto-l self-start tc tl-l">
    <a href="/" class="brand">
      <img class="v-mid ml0-l" alt="Dio Logo" src="/static/dip logo.png">


    </a>
  </div>

  <ul class="nav list w-100 w-auto-l flex flex-none flex-row flex-wrap justify-center justify-end-l items-center pv2 ph0 ph4-ns">
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/try">Try Dip</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/about">About</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/docs">Documentation</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/forum">Forum</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/install">Install</a></li>
  </ul>

  </div>

</nav>

    <main>


<section id="installing-rust" class="green">
  <div style = "scroll-behavior: smooth;" class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>Dip's Tutorial</h2>
      <div class="highlight highlight"></div>
    </header>
    <h2 class="subtitle">The step by step learning path to start coding with Dip.</h2></br>
    <p>Dip is aimed at beginners starting to learn to code. It is by no means complete, and does not aim to compete with the mainstream languages of today. However, it does prove a good place to start learning to code.</p>
    <p>I recommend starting out as a beginner, and learning more about Dip and its syntax. After this, move on to the next section, and when done with that, start working on complex programs with Dip.</p>
    <div id="top" class="mw-50-l mr4-l pt0 flex flex-column justify-between-l">
        <h3>I am a beginner</h3>
        <a style = "scroll-behavior: smooth;" href="#beginner" class="button button-secondary">Dip's Exercises for Beginners</a>
    </div>
    </br>
    <div id="top" class="mw-50-l mr4-l pt0 flex flex-column justify-between-l">
        <h3>I know a bit about code</h3>
        <a style = "scroll-behavior: smooth;" href="#intermediate" class="button button-secondary">Dip's Exercises for Intermediates</a>
    </div>
    </br>
    <div id="top" class="mw-50-l mr4-l pt0 flex flex-column justify-between-l">
        <h3>I can code well</h3>
        <a style = "scroll-behavior: smooth;" href="#advanced" class="button button-secondary">Advanced Exercises</a>
    </div>
  </div>
</section>

<section id="beginner" class="white thanks">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>Learning to code with Dip</h2>
      <div class="highlight highlight"></div>
    </header>
    <p>Getting started with programming can be a daunting task. That's why I want to make it simple for you. Start out doing the following experiments with Dip, and familiarise yourself with the language</p>
    <div id="top" class="mw-50-l mr4-l pt0 flex flex-column justify-between-l">
        <h3>Get started by using Dip's environment as a calculator, and familiarise yourself with its syntax</h3>
        <a href="#calculator" class="button button-secondary">Let's go!</a>
    </div></br>
    <div id="top" class="mw-50-l mr4-l pt0 flex flex-column justify-between-l">
        <h3>Build a program to ask the user for their name and present them with a greeting</h3>
        <a href="#greeter" class="button button-secondary">Let's go!</a>
    </div></br>
    <div id="top" class="mw-50-l mr4-l pt0 flex flex-column justify-between-l">
        <h3>Put your skills to the test and create a dip program that adds any two numbers</h3>
        <a href="#adder" class="button button-secondary">Let's go!</a>
    </div>
  </div>
</section>

<section id="calculator" class="green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>Calculating With Dip's Environment</h2>
      <div class="highlight highlight"></div>
    </header>
    <p>Learn to use Dip's environment like a calculator. Start by trying to add two numbers, like so:</p>
    <code>Dip> 1 + 1</code></br></br>
    <p>This will give you the output of 2. Try to familiarise yourself with the Dip environment by trying similar operations. Try using the '-' symbol to subtract numbers, the '*' symbol to multiply values, and the '/' symbol to divide values. Some examples could be:</p>
    <code>Dip> 45 - 24</code></br>
    <code>Dip> 6 * 4/code></code></br>
    <code>Dip> 7 / 7</code></br>
    <code>Dip> 5 + (10 * 4) / 5</code></br></br>
    <p>Next, you can also try to use the '^' symbol to denote exponents, and the '%' symbol to calculate the modulus of a value</p>
     <code>Dip> 7 ^ 7</code></br>
    <code>Dip> 5 % 5</code></br></br>
    <p>Great! You've learned how to use the Dip environment for making calculations, and that's a great step. Let's move on to building a simple application with Dip</p>

  </div>
</section>

<section id="greeter" class="white thanks">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>Writing your first Dip program: Greeting the user</h2>
      <div class="highlight highlight"></div>
    </header>
    <p>Now you've learnt to use Dip' environment like a calculator, let's write our first program in Dip!</p>
    <p>Open the Dip terminal and type the following (I recommend trying it yourself before looking at this):</p>
    <code>Dip> function greet(name) -> print("Hi, " + name)</code></br></br>
    <p>You should see this as the output:</p>
    <code>function greet</code></br></br>
    <code>Dip> greet("Raghav")</code></br></br>
    <code>Hi, Raghav</code></br></br>
    <p>How does it feel after creating your first program in Dip! If you wish to, you can customise this program, asking the age and location of the user</p>
  </div>
</section>

<section id="adder" class="green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>Looking Further - Creating a simple calculator in Dip</h2>
      <div class="highlight highlight"></div>
    </header>
    <p>So you've learnt how to use the Dip editor as a calculator, and have written your first program. What better than to join these together, and create a program that adds two numbers?</p>
    <p>Open the Dip terminal and type the following (As usual, try it out yourself before looking at this :) ):</p>
    <code>Dip> function add(num1, num2) -> print(num1 + num2)</code></br></br>
    <p>You should see this as the output:</p>
    <code>function add</code></br></br>
    <code>Dip> add(2, 5)</code></br></br>
    <code>7</code></br></br>
    <p>You can also add strings!</p>
    <code>Dip> add("Hi, ", "Raghav")</code></br></br>
    <code>Hi, Raghav</code></br></br>
    <p>Feel free to customise this program, substituting it with subtraction, multiplication or division!</p>
    <p>Great! You've learnt the basics of Dip! Move on to the intermediate section to write more complicated programs in Dip</p>

  </div>
</section>

<section id="advanced" class="white thanks">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>Dip programming for veterans</h2>
      <div class="highlight highlight"></div>
    </header>
    <p>Don't worry if you're a programming veteran. You can still have a lot of fun with Dip</p>
    <div id="top" class="mw-50-l mr4-l pt0 flex flex-column justify-between-l">
        <h3>The factorial program never gets old. Try to implement the factorial functionin Dip</h3>
        <a href="#factorial" class="button button-secondary">Let's go!</a>
    </div></br>
    <div id="top" class="mw-50-l mr4-l pt0 flex flex-column justify-between-l">
        <h3>Try the famous fibonacci program in Dip, using recursion</h3>
        <a href="#fibonacci" class="button button-secondary">Let's go!</a>
    </div></br>
    <div id="top" class="mw-50-l mr4-l pt0 flex flex-column justify-between-l">
        <h3>Put your Dip and Python skills to the test and create a Dip-Python program that does something</h3>
        <a href="#python" class="button button-secondary">Let's go!</a>
    </div>
  </div>
</section>

<section id="factorial" class="green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>The Factorial Function</h2>
      <div class="highlight highlight"></div>
    </header>
    <p>Open a new file, and write the following code to implement the factorial function! (You should probably try it out yourself before looking at this):</p>
<pre><code><span class="hljs-keyword">function</span> factorial(term)</br><span class="hljs-keyword">variable</span> fact = <span class="hljs-number">1</span>
<span class="hljs-keyword">if</span> term &gt;= <span class="hljs-number">1</span> <span class="hljs-keyword">then</span>
    <span class="hljs-keyword">for</span> i = <span class="hljs-number">1</span> <span class="hljs-keyword">to</span> term + <span class="hljs-number">1</span> <span class="hljs-keyword">then</span>
        <span class="hljs-keyword">variable</span> fact = fact * i
    <span class="hljs-keyword">end</span>
<span class="hljs-keyword">end</span>
print(fact)
</br>end
</code></pre><p>
</code></p>
    <p>That's the factorial function in Dip. Next, you should try out either the fibonacci function, or learn to use Dip with Python. If you want something more challenging, I have also made a list of recommendations!</p>

  </div>
</section>

<section id="fibonacci" class="white thanks">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>Do it in Dip: The Fibonacci Function</h2>
      <div class="highlight highlight"></div>
    </header>
    <pre><code><span class="hljs-keyword">function</span> fib(nterms)</br><span class="hljs-keyword">variable</span> n1 <span class="hljs-comment">= 0</span>
<span class="hljs-keyword">variable</span> <span class="hljs-comment">n2 = 1</span>
<span class="hljs-keyword">variable</span> <span class="hljs-comment">count = 0</span>

if <span class="hljs-comment">nterms &lt;= 0 then print(</span><span class="hljs-comment">"Input a positive integer"</span><span class="hljs-comment">)</span>
if <span class="hljs-comment">nterms == 1 then</span>
    print(<span class="hljs-string">"Fibonnaci sequence upto"</span> + <span class="hljs-string">" 1"</span> + <span class="hljs-string">":"</span>)
    print(n1)
else
    print(<span class="hljs-string">"Fibonacci sequence:"</span>)
    while <span class="hljs-comment">count &lt; nterms then</span>
        print(n1)
        <span class="hljs-keyword">variable</span> <span class="hljs-comment">nth = n1 + n2</span>
        <span class="hljs-keyword">variable</span> <span class="hljs-comment">n1 = n2</span>
        <span class="hljs-keyword">variable</span> <span class="hljs-comment">n2 = nth</span>
        <span class="hljs-keyword">variable</span> <span class="hljs-comment">count = count + 1</span>
    end
end
end
</code></pre><p>
</code></p>
    <p>An old classic, the fibonacci function. However, keep in mind that there is more than one way to do this. Try out your own implementation of fibonacci (perhaps using recursion), and post it on the forum!</p>
  </div>
</section>

<section id="fibonacci" class="green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>Python and Dip: Teamwork</h2>
      <div class="highlight highlight"></div>
    </header>
    <pre><code><span class="hljs-keyword">function</span> fib(nterms)</br><span class="hljs-keyword">variable</span> n1 <span class="hljs-comment">= 0</span>
<span class="hljs-keyword">variable</span> <span class="hljs-comment">n2 = 1</span>
<span class="hljs-keyword">variable</span> <span class="hljs-comment">count = 0</span>

if <span class="hljs-comment">nterms &lt;= 0 then print(</span><span class="hljs-comment">"Input a positive integer"</span><span class="hljs-comment">)</span>
if <span class="hljs-comment">nterms == 1 then</span>
    print(<span class="hljs-string">"Fibonnaci sequence upto"</span> + <span class="hljs-string">" 1"</span> + <span class="hljs-string">":"</span>)
    print(n1)
else
    print(<span class="hljs-string">"Fibonacci sequence:"</span>)
    while <span class="hljs-comment">count &lt; nterms then</span>
        print(n1)
        <span class="hljs-keyword">variable</span> <span class="hljs-comment">nth = n1 + n2</span>
        <span class="hljs-keyword">variable</span> <span class="hljs-comment">n1 = n2</span>
        <span class="hljs-keyword">variable</span> <span class="hljs-comment">n2 = nth</span>
        <span class="hljs-keyword">variable</span> <span class="hljs-comment">count = count + 1</span>
    end
end
end
</code></pre><p>
</code></p>
    <p>An old classic, the fibonacci function. However, keep in mind that there is more than one way to do this. Try out your own implementation of fibonacci (perhaps using recursion), and post it on the forum!</p>
  </div>
</section>




<section id="read-the-docs" class="white thanks">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>Learn more!</h2>
      <div class="highlight"></div>
    </header>
    <p>If you're looking to learn more, head to our Docs page, where you can find lots of information that will help you to continue learning to code with Dip.</p>
    <a href="/docs" class="button button-secondary">learn more!</a>
  </div>
</section>





    </main>
    <footer class = "green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <div class="flex flex-column flex-row-ns pv0-l">
      <div class="flex flex-column mw8 w-100 measure-wide-l pv2 pv5-m pv2-ns ph4-m ph4-l" id="get-help">
        <h4>Get help!</h4>
        <ul>
          <li><a href="/docs">Documentation</a></li>
          <li><a href="/forum">Ask a Question on the forum</a></li>
        </ul>

      </div>

    </div>
  </div>
</footer>


    <script src="/static/scripts/languages.js"></script>
  </body>
</html>
