
<!doctype html>
<html lang="en-US">
  <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-154661488-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-154661488-1');
</script>
    <meta charset="utf-8">
    <title>

            Tutorial - Dip Programming Language

        </title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="A language empowering everyone to build reliable and efficient software.">



    <!-- styles -->
    <link rel="stylesheet" href="/static/solarized-dark.css"/>
    <link rel="stylesheet" href="/static/vendor_10880690442070639967.css"/>
    <link rel="stylesheet" href="/static/fonts_8049871103083011125.css"/>
    <link rel="stylesheet" href="/static/app_12353512879680388157.css"/>

    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="static/dip logo.png">




    <!-- Custom Highlight pack with: Rust, Markdown, TOML, Bash, JSON, YAML,
         and plaintext. -->
    <script src="/static/scripts/highlight.pack.js" defer></script>
    <script src="/static/scripts/init.js" defer></script>
  </head>
  <body>
    <nav class="flex flex-row justify-center justify-end-l items-center flex-wrap ph2 pl3-ns pr4-ns pb3">
  <div class="brand flex-auto w-100 w-auto-l self-start tc tl-l">
    <a href="/" class="brand">
      <img class="v-mid ml0-l" alt="Dio Logo" src="/static/dip logo.png">


    </a>
  </div>

  <ul class="nav list w-100 w-auto-l flex flex-none flex-row flex-wrap justify-center justify-end-l items-center pv2 ph0 ph4-ns">
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/try">Try Dip</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/about">About</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/docs">Documentation</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/forum">Forum</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="/install">Install</a></li>
  </ul>

  </div>

</nav>

    <main>


<section id="installing-rust" class="green">
  <div style = "scroll-behavior: smooth;" class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>Dip's Tutorial</h2>
      <div class="highlight highlight"></div>
    </header>
    <h2 class="subtitle">The step by step learning path to start coding with Dip.</h2></br>
    <p>Dip is aimed at beginners starting to learn to code. It is by no means complete, and does not wish to compete with the mainstream languages of today. However, it does prove a good place to start learning to code</p>
    <p>I recommend starting out as a beginner, and learning more about Dip and its syntax. After this, move on to the next section, and when done with that, start working on complex programs with Dip</p>
    <div id="top" class="mw-50-l mr4-l pt0 flex flex-column justify-between-l">
        <h3>I am a beginner</h3>
        <a style = "scroll-behavior: smooth;" href="#beginner" class="button button-secondary">Dip's Exercises for Beginners</a>
    </div>
    </br>
    <div id="top" class="mw-50-l mr4-l pt0 flex flex-column justify-between-l">
        <h3>I know a bit about code</h3>
        <a style = "scroll-behavior: smooth;" href="#intermediate" class="button button-secondary">Dip's Exercises for Intermediates</a>
    </div>
    </br>
    <div id="top" class="mw-50-l mr4-l pt0 flex flex-column justify-between-l">
        <h3>I can code well</h3>
        <a style = "scroll-behavior: smooth;" href="#advanced" class="button button-secondary">Advanced Exercises</a>
    </div>
  </div>
</section>

<section id="beginner" class="white thanks">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>Learning to code with Dip</h2>
      <div class="highlight highlight"></div>
    </header>
    <p>Getting started with programming can be a daunting task. That's why I want to make it simple for you. Start out doing the following experiments with Dip, and familiarise yourself with the language</p>
    <div id="top" class="mw-50-l mr4-l pt0 flex flex-column justify-between-l">
        <h3>Get started by using Dip's environment as a calculator, and familiarise yourself with its syntax</h3>
        <a href="#calculator" class="button button-secondary">Let's go!</a>
    </div></br>
    <div id="top" class="mw-50-l mr4-l pt0 flex flex-column justify-between-l">
        <h3>Build a program to ask the user for their name and present them with a greeting</h3>
        <a href="#greeter" class="button button-secondary">Let's go!</a>
    </div></br>
    <div id="top" class="mw-50-l mr4-l pt0 flex flex-column justify-between-l">
        <h3>Put your skills to the test and create a dip program that adds any two numbers</h3>
        <a href="#adder" class="button button-secondary">Let's go!</a>
    </div>
  </div>
</section>

<section id="calculator" class="green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>Calculating With Dip's Environment</h2>
      <div class="highlight highlight"></div>
    </header>
    <p>Learn to use Dip's environment like a calculator. Start by trying to add two numbers, like so:</p>
    <code>Dip> 1 + 1</code></br></br>
    <p>This will give you the output of 2. Try to familiarise yourself with the Dip environment by trying similar operations. Try using the '-' symbol to subtract numbers, the '*' symbol to multiply values, and the '/' symbol to divide values. Some examples could be:</p>
    <code>Dip> 45 - 24</code></br>
    <code>Dip> 6 * 4/code></code></br>
    <code>Dip> 7 / 7</code></br>
    <code>Dip> 5 + (10 * 4) / 5</code></br></br>
    <p>Next, you can also try to use the '^' symbol to denote exponents, and the '%' symbol to calculate the modulus of a value</p>
     <code>Dip> 7 ^ 7</code></br>
    <code>Dip> 5 % 5</code></br></br>
    <p>Great! You've learned how to use the Dip environment for making calculations, and that's a great step. Let's move on to building a simple application with Dip</p>

  </div>
</section>

<section id="greeter" class="white thanks">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>Writing your first Dip program: Greeting the user</h2>
      <div class="highlight highlight"></div>
    </header>
    <p>Now you've learnt to use Dip' environment like a calculator, let's write our first program in Dip!</p>
    <p>Open the Dip terminal and type the following (I recommend trying it yourself before looking at this):</p>
    <code>Dip> function greet(name) -> print("Hi, " + name)</code></br></br>
    <p>You should see this as the output:</p>
    <code>function greet</code></br></br>
    <code>Dip> greet("Raghav")</code></br></br>
    <code>Hi, Raghav</code></br></br>
    <p>How does it feel after creating your first program in Dip! If you wish to, you can customise this program, asking the age and location of the user</p>
  </div>
</section>

<section id="adder" class="white thanks">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>Looking Further - Creating a simple calculator in Dip</h2>
      <div class="highlight highlight"></div>
    </header>
    <p>So you've learnt how to use the Dip editor as a calculator, and have written your first program. What better than to join these together, and create a program that adds two numbers?</p>
    <p>Open the Dip terminal and type the following (As usual, try it out yourself before looking at this :) ):</p>
    <code>Dip> function add(num1, num2) -> print(num1 + num2)</code></br></br>
    <p>You should see this as the output:</p>
    <code>function add</code></br></br>
    <code>Dip> add(2, 5)</code></br></br>
    <code>7</code></br></br>
    <p>You can also add strings!</p>
    <code>Dip> add("Hi, ", "Raghav")</code></br></br>
    <code>Hi, Raghav</code></br></br>
    <p>Feel free to customise this program, substituting it with subtraction, multiplication or division!</p>
    <p>Great! You've learnt the basics of Dip! Move on to the intermediate section to write more complicated programs in Dip</p>

  </div>
</section>


<section id="installing-dependencies" class="green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>Dip for Veterans</h2>
      <div class="highlight"></div>
    </header>
    <p>If you're a coding veteran - Dip has you covered. Using Dip, you can embrace the power of Python using an easier syntax.</p>
<p>The following program shows an example of a Dip and Python program that prints out the calendar for a given year.</p>

  <h1 id="factorial-function">calendar.dip</h1>
<pre><code># A program to print out the calendar of a particular year in Dip

# Greet the user
print("Welcome to Dip's calculator")

# Give the user four options

print("Press 1 for addition")
print("Press 2 for subtraction")
print("Press 3 for multiplication")
print("Press 4 for division")

# Ensure the code keeps on looping

while true then

    # Ask user for the operation they want to perform

    variable operation = input_integer("Operation: ")

    # If the operation is 1, 2, 3 or 4 then procedd

    if operation == 1 or operation == 2 or operation == 3 or operation == 4 then

        variable num1 = input_integer("Enter first number: ")
        variable num2 = input_integer("Enter second number: ")

        if operation == 1 then print(num1 + num2)

        if operation == 2 then print(num1 - num2)

        if operation == 3 then print(num1 * num2)

        if operation == 4 then print(num1 / num2)

        # If the operation is not in 1, 2, 3 or 4 then prompt the user again

        else
            print("Input must be 1, 2, 3 or 4")
            continue

    end
end
</code></pre><p>
</code></p>

  </div>
</section>


<section id="a-small-rust-app" class="green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>A small Dip application</h2>
      <div class="highlight"></div>
    </header>
    <p>Now let’s write a small application with our new dependency. In our <code>main.dip</code>, add the following code:</p>

<pre><code>use("stdlib/bleu_says.dip") # from the previous step

function main()
    variable message = "Hello, world!"
    bleu(message)
end

main()
    </code></pre>

<p>Once we save that, we can run our application by typing:</p>
<p><code>run("main.dip")</code></p>
<p>Assuming everything went well, you should see your application print this to the screen:</p>

    <pre><code>-----------------
| Hello, world! |
-----------------
                    \
                     \
                      \
                           ▓▓▓▓▓▓▓▓▓▓
                         ▓▓▓▓▓▓▓▓▓▓▓▓▓▓
                        ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
                      ▓▓▓▓░░░░░░▓▓░░░░░░▓▓▓▓
                  ░░░░▓▓░░░░░░░░░░░░░░░░░░▓▓░░░░
                  ░░░░▓▓░░  ██░░░░░░  ██░░▓▓░░░░
                    ░░▓▓░░████░░░░░░████░░▓▓░░
                      ▓▓░░▒▒▒▒░░░░░░▒▒▒▒░░▓▓
                        ▓▓░░░░░░░░░░░░░░▓▓
                          ▓▓▓▓░░░░░░▓▓▓▓
                              ▓▓▓▓▓▓        ░░
                            ▓▓▓▓▓▓▓▓▓▓      ▓▓
                            ▓▓▓▓▓▓▓▓▓▓    ▓▓▓▓
                          ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
                          ▓▓▓▓░░▓▓░░▓▓▓▓

    </code></pre>


  </div>
</section>

<section id="read-the-docs" class="white thanks">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>Learn more!</h2>
      <div class="highlight"></div>
    </header>
    <p>If you're looking to learn more, head to our Docs page, where you can find lots of information that will help you to continue learning to code with Dip.</p>
    <a href="/docs" class="button button-secondary">learn more!</a>
  </div>
</section>



    </main>
    <footer class = "green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <div class="flex flex-column flex-row-ns pv0-l">
      <div class="flex flex-column mw8 w-100 measure-wide-l pv2 pv5-m pv2-ns ph4-m ph4-l" id="get-help">
        <h4>Get help!</h4>
        <ul>
          <li><a href="/docs">Documentation</a></li>
          <li><a href="/forum">Ask a Question on the forum</a></li>
        </ul>

      </div>

    </div>
  </div>
</footer>


    <script src="/static/scripts/languages.js"></script>
  </body>
</html>
